{% case site.color-scheme %}
  {% when "", nil, false, 0, empty %}
    {% assign ColorScheme = "auto" %}
  {% else %}
    {% assign ColorScheme = site.color-scheme %}
{% endcase %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FBGB88QKMV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FBGB88QKMV');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/colors-ColorScheme.css?v=" | replace: "ColorScheme", ColorScheme | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <header>

          <h1><text class="title-letters">D</text>ifferent<br><text class="title-letters">G</text>ame<br><text class="title-letters">.GG</text></h1>
          <img class="img-circle" src="https://cdn.betterttv.net/emote/5e9fa2517e090362f8b0f8d9/3x" alt="Logo"/>
          <img class="img-circle" rel="prefetch" src="/assets/img/Animation.gif" alt="Logo2"/>

          {% if site.email %}
            <p class="addr"><i class="fa-regular fa-envelope"></i>&nbsp;{{ site.email }}</p>
          {% endif %}

          <p>{{ site.description | default: site.github.project_tagline }}</p>

          {% include sidebar.html %}

        </header>

        {% include links-mobile.html %}

        <div class="sidebar-footer">
          {%- include footer.html -%}
        </div>
      </div>
      <section>
        <nav>
          <ul>
            <li><a href="/"><i class="fas fa-home"></i>&nbsp;Home</a></li>
            <li><a href="/dodges"><i class="fab fa-accessible-icon"></i>&nbsp;Dodges</a></li>
            <li><a href="/loser"><i class="fas fa-people-carry"></i>&nbsp;Duo Stats</a></li>
            <li><a href="/ganks"><i class="fas fa-skull"></i>&nbsp;Ganks</a></li>
            <li style="float:right"><a href="/about" class="active"><i class="fas fa-info-circle"></i>&nbsp;About</a></li>
          </ul>
        </nav>
        {%- include menu-mobile.html %}
        <div>{{ content }}</div>
        <footer class='main-footer'>
          Required disclaimer: DG.GG isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties. Riot Games, and all associated properties are trademarks or registered trademarks of Riot Games, Inc.
        </footer>

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

  </body>

</html>
